* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: #0f172a;
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NAVBAR */
.navbar {
  width: 100%;
  background: #020617;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

.navbar h1 {
  color: #38bdf8;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: #e5e7eb;
  text-decoration: none;
}

/* SECTIONS */
.container {
  background: #020617;
  width: 80%;
  max-width: 700px;
  padding: 25px;
  margin-top: 30px;
  border-radius: 15px;
}

.container h2 {
  color: #38bdf8;
}

/* PROJECT CARD */
.project-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  margin-top: 15px;
}

.project-card a {
  color: #38bdf8;
  text-decoration: none;
  font-weight: bold;
}